[elasticsearch-{{ es_version }}]
name=Elasticsearch repository for {{ es_version }}.x packages
baseurl=https://packages.elastic.co/elasticsearch/2.x/centos
gpgcheck=1
gpgkey=https://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
